
*.iml
/.project
*dump.rdb
/.idea
*.war

*.rdb

*.tar.gz
*.rsa.pub
*.gz.asc
*.zip

*.pyc
/__pycache__

*.egg*

*stam.txt*

*/dev/*
*.csv
*.ipynb_checkpoints
*/Downloads/*
*/jupyter/dev*
/conf/unique_conf/
**/developer.conf
!example_conf/developer.conf